In [10]:
import pandas as pd

In [11]:
def in_method(given, sub):
    return sub in given
def onehot(x):
    df.loc[(df[x] == True), x] = 1
    df.loc[(df[x] == False), x] = 0

In [12]:
df=pd.read_csv("second.csv")

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1315974 entries, 0 to 1315973
Data columns (total 10 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Reviewer_Name    1315973 non-null  object
 1   Reviewer_Region  1315585 non-null  object
 2   Total_Rating     1315974 non-null  int64
 3   Review_Title     1315974 non-null  object
 4   Stay_Date        1315974 non-null  int64
 5   Tags             1315974 non-null  object
 6   Hotel_City       1315974 non-null  object
 7   Country          1315974 non-null  object
 8   Review_Tag       1315974 non-null  object
 9   Review_Text      1315974 non-null  object
dtypes: int64(2), object(8)
memory usage: 100.4+ MB

In [14]:
Type_list=["Trip_Type_FRIENDS","Trip_Type_BUSINESS","Trip_Type_COUPLES","Trip_Type_FAMILY","Trip_Type_SOLO"]
Leisure_trip=[]
Business_trip=[]
Couple=[]
Family=[]
Solo=[]
for i in range(0,len(df)):
    Leisure_trip.append(in_method(df["Tags"][i],"Leisure trip"))
    Business_trip.append(in_method(df["Tags"][i],"Business trip"))
    Couple.append(in_method(df["Tags"][i],"Couple"))
    Family.append(in_method(df["Tags"][i],"Family with young children")) 
    Solo.append(in_method(df["Tags"][i],"Solo traveller"))
df["Trip_Type_FRIENDS"] = Leisure_trip
df["Trip_Type_BUSINESS"] = Business_trip
df["Trip_Type_COUPLES"] = Couple
df["Trip_Type_FAMILY"] = Family
df["Trip_Type_SOLO"] = Solo

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1315974 entries, 0 to 1315973
Data columns (total 15 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Reviewer_Name       1315973 non-null  object
 1   Reviewer_Region     1315585 non-null  object
 2   Total_Rating        1315974 non-null  int64
 3   Review_Title        1315974 non-null  object
 4   Stay_Date           1315974 non-null  int64
 5   Tags                1315974 non-null  object
 6   Hotel_City          1315974 non-null  object
 7   Country             1315974 non-null  object
 8   Review_Tag          1315974 non-null  object
 9   Review_Text         1315974 non-null  object
 10  Trip_Type_FRIENDS   1315974 non-null  bool
 11  Trip_Type_BUSINESS  1315974 non-null  bool
 12  Trip_Type_COUPLES   1315974 non-null  bool
 13  Trip_Type_FAMILY    1315974 non-null  bool
 14  Trip_Type_SOLO      1315974 non-null  bool
dtypes: bool(5), int64(2), object(8)
memory usage: 106.7+ MB

In [16]:
df.dropna(inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1315584 entries, 0 to 1315973
Data columns (total 15 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Reviewer_Name       1315584 non-null  object
 1   Reviewer_Region     1315584 non-null  object
 2   Total_Rating        1315584 non-null  int64
 3   Review_Title        1315584 non-null  object
 4   Stay_Date           1315584 non-null  int64
 5   Tags                1315584 non-null  object
 6   Hotel_City          1315584 non-null  object
 7   Country             1315584 non-null  object
 8   Review_Tag          1315584 non-null  object
 9   Review_Text         1315584 non-null  object
 10  Trip_Type_FRIENDS   1315584 non-null  bool
 11  Trip_Type_BUSINESS  1315584 non-null  bool
 12  Trip_Type_COUPLES   1315584 non-null  bool
 13  Trip_Type_FAMILY    1315584 non-null  bool
 14  Trip_Type_SOLO      1315584 non-null  bool
dtypes: bool(5), int64(2), object(8)
memory usage: 116.7+ MB

In [18]:
df.to_csv("Booking_Final.csv",index=False)

In [19]:
df2=pd.read_csv(r"C:\Users\Student\Desktop\Tripadvisor_final.csv")

C:\Users\Student\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [26]:
result = pd.concat([df2, df],join=inner)

NameError: name 'inner' is not defined

In [22]:
result.head()

,Unnamed: 0,Hotel_Name,Average_Rating,Stay_Date,Trip_Type,Review_Title,Total_Rating,Review_Text,Reviewer_Name,Reviewer_Region,...,Cleanliness,Hotel_City,Country,Trip_Type_BUSINESS,Trip_Type_COUPLES,Trip_Type_FAMILY,Trip_Type_FRIENDS,Trip_Type_SOLO,Tags,Review_Tag
0,0.0,Delfino Blu Wellness Boutique Hotel,5.0,2021-09-30,COUPLES,A small slice of paradise,5.0,We stayed for 7 nights at the end of September...,Floyd @ Cambridge UK,Europe,...,0.0,Dhermi,Albania,0,1,0,0,0,NaN,NaN
1,1.0,Delfino Blu Wellness Boutique Hotel,5.0,2021-09-30,0,A truly wonderful experience,5.0,We were looking for a relaxing week in the sun...,Liz A,0,...,0.0,Dhermi,Albania,0,0,0,0,0,NaN,NaN
2,2.0,Delfino Blu Wellness Boutique Hotel,5.0,2021-08-31,COUPLES,Great Boutique Experience,5.0,We had been considering a trip here for some t...,Herts_foodie2,0,...,0.0,Dhermi,Albania,0,1,0,0,0,NaN,NaN
3,3.0,Delfino Blu Wellness Boutique Hotel,5.0,2021-08-31,0,Felt truly looked after in welcoming boutique ...,5.0,The wonderful staff team quickly get to know a...,Liverpool Logs,0,...,5.0,Dhermi,Albania,0,0,0,0,0,NaN,NaN
4,4.0,Delfino Blu Wellness Boutique Hotel,5.0,2021-08-31,COUPLES,Ultimate relaxation at beautiful Delfino Blu,5.0,"We just LOVED Delfino Blu, a little bit of Cor...",Peter Cummins,Europe,...,0.0,Dhermi,Albania,0,1,0,0,0,NaN,NaN

In [23]:
result.drop(columns="Unnamed: 0", inplace=True)

In [24]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11515526 entries, 0 to 1315973
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   Hotel_Name          object
 1   Average_Rating      object
 2   Stay_Date           object
 3   Trip_Type           object
 4   Review_Title        object
 5   Total_Rating        float64
 6   Review_Text         object
 7   Reviewer_Name       object
 8   Reviewer_Region     object
 9   Value               float64
 10  Service             float64
 11  Sleep_Quality       float64
 12  Room                float64
 13  Location            float64
 14  Cleanliness         float64
 15  Hotel_City          object
 16  Country             object
 17  Trip_Type_BUSINESS  object
 18  Trip_Type_COUPLES   object
 19  Trip_Type_FAMILY    object
 20  Trip_Type_FRIENDS   object
 21  Trip_Type_SOLO      object
 22  Tags                object
 23  Review_Tag          object
dtypes: float64(7), object(17)
memory usage: 2.1+ GB

In [25]:
result.isnull().sum()

Hotel_Name             1315584
Average_Rating         1315584
Stay_Date                    0
Trip_Type              1315584
Review_Title                 0
Total_Rating                 0
Review_Text                  0
Reviewer_Name                0
Reviewer_Region              0
Value                  1315584
Service                1315584
Sleep_Quality          1315584
Room                   1315584
Location               1315584
Cleanliness            1315584
Hotel_City                   0
Country                      0
Trip_Type_BUSINESS           0
Trip_Type_COUPLES            0
Trip_Type_FAMILY             0
Trip_Type_FRIENDS            0
Trip_Type_SOLO               0
Tags                  10199942
Review_Tag            10199942
dtype: int64