In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Booking_Final.csv")

In [3]:
df2=pd.read_csv(r"C:\Users\Student\Desktop\Tripadvisor_final.csv")

KeyboardInterrupt:

In [22]:
result = pd.concat([df2, df])

In [24]:
result.head()

,Unnamed: 0,Hotel_Name,Average_Rating,Stay_Date,Trip_Type,Review_Title,Total_Rating,Review_Text,Reviewer_Name,Reviewer_Region,...,Cleanliness,Hotel_City,Country,Trip_Type_BUSINESS,Trip_Type_COUPLES,Trip_Type_FAMILY,Trip_Type_FRIENDS,Trip_Type_SOLO,Tags,Review_Tag
0,0.0,Delfino Blu Wellness Boutique Hotel,5.0,2021-09-30,COUPLES,A small slice of paradise,5.0,We stayed for 7 nights at the end of September...,Floyd @ Cambridge UK,Europe,...,0.0,Dhermi,Albania,0,1,0,0,0,NaN,NaN
1,1.0,Delfino Blu Wellness Boutique Hotel,5.0,2021-09-30,0,A truly wonderful experience,5.0,We were looking for a relaxing week in the sun...,Liz A,0,...,0.0,Dhermi,Albania,0,0,0,0,0,NaN,NaN
2,2.0,Delfino Blu Wellness Boutique Hotel,5.0,2021-08-31,COUPLES,Great Boutique Experience,5.0,We had been considering a trip here for some t...,Herts_foodie2,0,...,0.0,Dhermi,Albania,0,1,0,0,0,NaN,NaN
3,3.0,Delfino Blu Wellness Boutique Hotel,5.0,2021-08-31,0,Felt truly looked after in welcoming boutique ...,5.0,The wonderful staff team quickly get to know a...,Liverpool Logs,0,...,5.0,Dhermi,Albania,0,0,0,0,0,NaN,NaN
4,4.0,Delfino Blu Wellness Boutique Hotel,5.0,2021-08-31,COUPLES,Ultimate relaxation at beautiful Delfino Blu,5.0,"We just LOVED Delfino Blu, a little bit of Cor...",Peter Cummins,Europe,...,0.0,Dhermi,Albania,0,1,0,0,0,NaN,NaN

In [26]:
result.drop(columns="Unnamed: 0", inplace=True)

In [28]:
result.isnull().sum()

Hotel_Name              262742
Average_Rating          262742
Stay_Date                    0
Trip_Type               262742
Review_Title                 0
Total_Rating                 0
Review_Text                  0
Reviewer_Name                0
Reviewer_Region              0
Value                   262742
Service                 262742
Sleep_Quality           262742
Room                    262742
Location                262742
Cleanliness             262742
Hotel_City                   0
Country                      0
Trip_Type_BUSINESS           0
Trip_Type_COUPLES            0
Trip_Type_FAMILY             0
Trip_Type_FRIENDS            0
Trip_Type_SOLO               0
Tags                  10199942
Review_Tag            10199942
dtype: int64

In [29]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10462684 entries, 0 to 262846
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   Hotel_Name          object
 1   Average_Rating      object
 2   Stay_Date           object
 3   Trip_Type           object
 4   Review_Title        object
 5   Total_Rating        float64
 6   Review_Text         object
 7   Reviewer_Name       object
 8   Reviewer_Region     object
 9   Value               float64
 10  Service             float64
 11  Sleep_Quality       float64
 12  Room                float64
 13  Location            float64
 14  Cleanliness         float64
 15  Hotel_City          object
 16  Country             object
 17  Trip_Type_BUSINESS  object
 18  Trip_Type_COUPLES   object
 19  Trip_Type_FAMILY    object
 20  Trip_Type_FRIENDS   object
 21  Trip_Type_SOLO      object
 22  Tags                object
 23  Review_Tag          object
dtypes: float64(7), object(17)
memory usage: 1.9+ GB