#### CSV檔合併

In [1]:
import pandas as pd
from glob import glob
import os


path=input()
file_list = glob(path+r"\*\*\*.csv")
appended_data = []
for i in file_list:
    file_size = os.path.getsize(i) 
    if file_size < 948:
        continue
    city = i.split("\\")[-2]
    country = i.split("\\")[-3]
    data = pd.read_csv(i, dtype=str, on_bad_lines='skip', sep=",", index_col=None, encoding="utf-8")
    # store DataFrame in list
    data["Hotel_City"] = city
    data["Country"] = country
    appended_data.append(data)
# see pd.concat documentation for more info
appended_data = pd.concat(appended_data, ignore_index=True)

 C:\Users\USER\Desktop\Big data\NLP\dataset\Database\Trip\

In [2]:
appended_data.to_csv("trip_unclean.csv", index=False)

In [3]:
appended_data.head()

,Hotel Name,total rating,Review Date,Stay Date,Trip Type,Language,Room Tip,Review Title,Review Rating,Review Text,...,"[Business service (e.g., internet access) Stars",Hotel_City,Country,網址,[ur_question.prompt.47 Stars,[ur_question.prompt.14 Stars,[rd_userrating.prompt.12 Stars,[ur_question.prompt.11 Stars,[userrating.prompt.190 Stars,[ur_question.prompt.13 Stars
0,Delfino Blu Wellness Boutique Hotel,5.0,2021-10-03,2021-09-30,COUPLES,en,We would advise having a rental car to explore...,A small slice of paradise,5,We stayed for 7 nights at the end of September...,...,NaN,Dhermi,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Delfino Blu Wellness Boutique Hotel,5.0,2021-09-29,2021-09-30,NONE,en,NaN,A truly wonderful experience,5,We were looking for a relaxing week in the sun...,...,NaN,Dhermi,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Delfino Blu Wellness Boutique Hotel,5.0,2021-09-12,2021-08-31,COUPLES,en,NaN,Great Boutique Experience,5,We had been considering a trip here for some t...,...,NaN,Dhermi,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Delfino Blu Wellness Boutique Hotel,5.0,2021-08-31,2021-08-31,NONE,en,NaN,Felt truly looked after in welcoming boutique ...,5,The wonderful staff team quickly get to know a...,...,NaN,Dhermi,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Delfino Blu Wellness Boutique Hotel,5.0,2021-08-23,2021-08-31,COUPLES,en,NaN,Ultimate relaxation at beautiful Delfino Blu,5,"We just LOVED Delfino Blu, a little bit of Cor...",...,NaN,Dhermi,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 國籍處理

In [4]:
import pandas as pd
appended_data = pd.read_csv("trip_unclean.csv")

C:\Users\USER\.conda\envs\threeSeven\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (1,22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
appended_data["Hometown"]

0                          Cambridge, United Kingdom
1                                                NaN
2                                                NaN
3                                                NaN
4                   Walton-On-Thames, United Kingdom
                              ...
10499287    East Riding of Yorkshire, United Kingdom
10499288                                         NaN
10499289                                         NaN
10499290                  Hartlepool, United Kingdom
10499291                                         NaN
Name: Hometown, Length: 10499292, dtype: object

In [6]:
# 取出國籍特徵
import numpy as np
def country_filt(x):
    if isinstance(x, float) and np.isnan(x):
        return x
    elif isinstance(x, int):
        return x
    else:
        return x.split(",")[-1].strip()
    return x

In [7]:
appended_data["Hometown"]=appended_data["Hometown"].map(country_filt)

In [8]:
appended_data["Hometown"].head()

0    United Kingdom
1               NaN
2               NaN
3               NaN
4    United Kingdom
Name: Hometown, dtype: object

In [9]:
# 美國各州轉為美國
US_label = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut",
        "Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas",
          "Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota",
        "Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey",
          "New Mexico","New York","North Carolina","North Dakota","Ohio","Oklahoma","Oregon",
        "Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas",
        "Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]
appended_data.loc[appended_data["Hometown"].isin(US_label), "Hometown"] = "United State"

In [10]:
# 國家列表
rg_mas k= ['Oman', 'United Kingdom', 'Lebanon', 'Switzerland', 'Bulgaria',
        'Germany', 'Netherlands', 'Israel', 'Slovenia', 'Qatar', 'Turkey',
        'United Arab Emirates', 'Serbia', 'Poland', 'United States',
        'Spain', 'Georgia', 'New Zealand', 'Cyprus', 'Iraq', 'Russia',
        'Moldova', 'Jordan', 'Kuwait', 'Ukraine', 'Bosnia and Herzegovina',
        'Croatia', 'Romania', 'Pakistan', 'Libya', 'Australia', 'Hungary',
        'Austria', 'Iran', 'Denmark', 'Canada', 'Czech Republic', 'France',
        'Ireland', 'Saudi Arabia', 'Bangladesh', 'Japan', 'Sweden',
        'Luxembourg', 'Montenegro', 'Palestinian Territory', 'Thailand',
        'China', 'North Macedonia', 'Kazakhstan', 'South Africa',
        'Singapore', 'Estonia', 'Uzbekistan', 'Norway', 'Tunisia',
        'Finland', 'Belgium', 'Tajikistan', 'Italy', 'Azerbaijan',
        'Mongolia', 'Malaysia', 'Belarus', 'Mexico', 'Lithuania',
        'Nigeria', 'Kyrgyzstan', 'Colombia', 'Россия', 'Украина', 'Greece',
        'Morocco', 'India', 'Bahrain', 'Algeria', 'Latvia', 'Egypt',
        'Portugal', 'Vietnam', 'Malta', 'Armenia', 'Jersey', 'Albania',
        'Mozambique', 'Uganda', 'Peru', 'Senegal', 'Taiwan', 'Indonesia',
        'Guatemala', 'Slovakia', 'Andorra', 'Sudan', 'Afghanistan',
        'South Korea', 'Iceland', 'Hong Kong', 'Cameroon', 'Maldives',
        'Brazil', 'Kosovo', 'Yemen', 'Ghana', 'Ethiopia', 'Chile',
        'Angola', 'Argentina', 'Zimbabwe', 'Antigua & Barbuda',
        'Abkhazia','Georgia', 'Kenya', 'Ecuador', 'Panama',
        'Tanzania', 'Philippines', 'Djibouti', 'Somalia', 'Puerto Rico',
        'Mauritius', 'Venezuela', 'UK Virgin Islands', 'Zambia', 'Bolivia',
        'Seychelles', 'Democratic Republic of Congo', 'Uruguay',
        'Sri Lanka', 'Jamaica', 'Guam', 'Myanmar', 'Rwanda', 'Malawi',
        'Saint Kitts and Nevis', 'Mali', 'Syria', 'Costa Rica',
        'Dominican Republic', 'Cambodia', 'Turkmenistan',
        'Brunei Darussalam', 'Gabon', 'Macao', 'Namibia', 'Honduras',
        'Botswana', 'Gambia', 'Nepal',
        'Barbados', 'Isle of Man', 'US Virgin Islands', 'Gibraltar',
        'Liechtenstein', 'United States Minor Outlying Islands',
        'Laos', 'Guernsey', 'Bermuda', 'Monaco',
        'Martinique', 'Madagascar', 'Benin', 'Faroe Islands',
        'Sierra Leone', 'Saint Barthelemy', 'Cape Verde', 'Togo',
        'Papua New Guinea', 'Vanuatu', 'Reunion', 'Bahamas',
        'Cook Islands', 'Bonaire St Eustatius and Saba',
        'Trinidad and Tobago', 'Burkina Faso', 'Mauritania',
        'French Polynesia', 'Saint Martin', 'Paraguay', 'Guyana',
        'Nicaragua', 'Solomon Islands', 'Central Africa Republic', 'Niger',
        'South Georgia and the South Sandwich Islands', 'Chad',
        'Northern Mariana Islands',"0"]     
appended_data.fillna({'Hometown':"0"}, inplace=True)

In [11]:
appended_data['Hometown']

0           United Kingdom
1                        0
2                        0
3                        0
4           United Kingdom
                 ...
10499287    United Kingdom
10499288                 0
10499289                 0
10499290    United Kingdom
10499291                 0
Name: Hometown, Length: 10499292, dtype: object

In [12]:
df = appended_data["Hometown"].isin(rg_mask)

In [13]:
# 只留下符合條件的國家名
df_final = appended_data.loc[df,:]

In [14]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9295220 entries, 0 to 10499291
Data columns (total 29 columns):
 #   Column                                           Dtype
---  ------                                           -----
 0   Hotel Name                                       object
 1   total rating                                     object
 2   Review Date                                      object
 3   Stay Date                                        object
 4   Trip Type                                        object
 5   Language                                         object
 6   Room Tip                                         object
 7   Review Title                                     object
 8   Review Rating                                    float64
 9   Review Text                                      object
 10  User Name                                        object
 11  Hometown                                         object
 12  [Value Stars                                     float64
 13  [Location Stars                                  float64
 14  [Service Stars                                   float64
 15  [Cleanliness Stars                               float64
 16  [Sleep Quality Stars                             float64
 17  [Rooms Stars                                     float64
 18  [Check in / front desk Stars                     float64
 19  [Business service (e.g., internet access) Stars  float64
 20  Hotel_City                                       object
 21  Country                                          object
 22  網址                                               object
 23  [ur_question.prompt.47 Stars                     float64
 24  [ur_question.prompt.14 Stars                     float64
 25  [rd_userrating.prompt.12 Stars                   float64
 26  [ur_question.prompt.11 Stars                     float64
 27  [userrating.prompt.190 Stars                     float64
 28  [ur_question.prompt.13 Stars                     float64
dtypes: float64(15), object(14)
memory usage: 2.1+ GB

In [15]:
# 將各國國籍對應的五大洲
Europe = ['France','United Kingdom','Germany', 'Belgium','Finland','Romania', 'Ireland','Iceland', 'Switzerland''Netherlands','Spain', 'Estonia','Portugal','Poland', 'Lithuania', 'Italy','Czech Republic', 'Russia', 'Sweden','Luxembourg','Slovakia','Austria','Serbia','Bulgaria', 'Ukraine','Turkey', 'Greece','Croatia', 'Hungary', 'Slovenia','Cyprus','Latvia','Malta','Jersey', 'Denmark','Georgia','Guernsey','Norway', 'Albania','Belarus','Monaco','Bosnia and Herzegovina','North Macedonia','Faroe Islands','Moldova','Montenegro',"Switzerland","Netherlands","Gibraltar"]
Asia = ['Iran','Taiwan','Lebanon','Singapore','Indonesia','Bahrain','India', 'Syria','Malaysia', 'United Arab Emirates','Bangladesh','Iraq', 'Saudi Arabia','Malta','Israel','Hong Kong','Armenia','China', 'Vietnam','Japan','Laos','South Korea','Kazakhstan','Thailand','Qatar', 'Sri Lanka','Pakistan','Oman','Afghanistan','Azerbaijan','Philippines','Maldives','Myanmar','Nepal','Burkina Faso', 'Turkmenistan','Cambodia','Mongolia']
Africa = ['South Africa','Jordan','Egypt','Angola','Algeria','Tunisia','Kenya','Nigeria','Morocco', 'Tanzania','Madagascar','Kuwait','Benin','Libya', 'Andorra','Uruguay','Sierra Leone', 'Mauritius', 'Cape Verde', 'Togo', 'Ghana', 'Reunion','Senegal','Uganda', 'Palestinian Territory', 'Mauritania', 'Gambia','Brunei Darussalam', 'French Polynesia','Zimbabwe','Kyrgyzstan', 'Mozambique', 'Kosovo', 'Macao','Abkhazia', 'Namibia', 'Uzbekistan', 'Paraguay','Gabon', 'Sudan', 'Guyana', 'Tajikistan','Ethiopia', 'Rwanda', 'Botswana', 'Cameroon','Seychelles', 'Sint Maarten', 'Antigua & Barbuda','Central Africa Republic', 'Niger', 'Chad','Northern Mariana Islands']
America = ['United States','Canada','El Salvador','Brazil',"Barbados", 'Mexico','Costa Rica','Chile','Peru', 'Colombia','Argentina','Panama','Bermuda','United States Minor Outlying Islands','Ecuador','Martinique','Venezuela','Saint Barthelemy','Bahamas','Puerto Rico','Honduras','Dominican Republic','Guatemala','Bolivia','Nicaragua']
Oceania = ['Australia','New Zealand','Papua New Guinea','Vanuatu']
df_final.loc[df_final["Hometown"].isin(Europe), "Hometown"] = "Europe"
df_final.loc[df_final["Hometown"].isin(Asia), "Hometown"] = "Asia"
df_final.loc[df_final["Hometown"].isin(Africa), "Hometown"] = "Africa"
df_final.loc[df_final["Hometown"].isin(America), "Hometown"] = "America"
df_final.loc[df_final["Hometown"].isin(Oceania), "Hometown"] = "Oceania"

C:\Users\USER\.conda\envs\threeSeven\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [16]:
df_final["Hometown"].head()

0    Europe
1         0
2         0
3         0
4    Europe
Name: Hometown, dtype: object

#### 除了評分以及重要特徵缺失值補0外，其他一律刪除

In [17]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9295220 entries, 0 to 10499291
Data columns (total 29 columns):
 #   Column                                           Dtype
---  ------                                           -----
 0   Hotel Name                                       object
 1   total rating                                     object
 2   Review Date                                      object
 3   Stay Date                                        object
 4   Trip Type                                        object
 5   Language                                         object
 6   Room Tip                                         object
 7   Review Title                                     object
 8   Review Rating                                    float64
 9   Review Text                                      object
 10  User Name                                        object
 11  Hometown                                         object
 12  [Value Stars                                     float64
 13  [Location Stars                                  float64
 14  [Service Stars                                   float64
 15  [Cleanliness Stars                               float64
 16  [Sleep Quality Stars                             float64
 17  [Rooms Stars                                     float64
 18  [Check in / front desk Stars                     float64
 19  [Business service (e.g., internet access) Stars  float64
 20  Hotel_City                                       object
 21  Country                                          object
 22  網址                                               object
 23  [ur_question.prompt.47 Stars                     float64
 24  [ur_question.prompt.14 Stars                     float64
 25  [rd_userrating.prompt.12 Stars                   float64
 26  [ur_question.prompt.11 Stars                     float64
 27  [userrating.prompt.190 Stars                     float64
 28  [ur_question.prompt.13 Stars                     float64
dtypes: float64(15), object(14)
memory usage: 2.1+ GB

In [18]:
df_final.drop(columns=["Review Date","Room Tip","[ur_question.prompt.13 Stars","[userrating.prompt.190 Stars","[ur_question.prompt.11 Stars","[rd_userrating.prompt.12 Stars","[ur_question.prompt.14 Stars","[ur_question.prompt.47 Stars","網址","[Business service (e.g., internet access) Stars","[Check in / front desk Stars","Language"], inplace=True)

C:\Users\USER\.conda\envs\threeSeven\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [19]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9295220 entries, 0 to 10499291
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   Hotel Name            object
 1   total rating          object
 2   Stay Date             object
 3   Trip Type             object
 4   Review Title          object
 5   Review Rating         float64
 6   Review Text           object
 7   User Name             object
 8   Hometown              object
 9   [Value Stars          float64
 10  [Location Stars       float64
 11  [Service Stars        float64
 12  [Cleanliness Stars    float64
 13  [Sleep Quality Stars  float64
 14  [Rooms Stars          float64
 15  Hotel_City            object
 16  Country               object
dtypes: float64(7), object(10)
memory usage: 1.2+ GB

In [20]:
df_final.columns = ['Hotel_Name', 'Average_Rating', 'Stay_Date', 'Trip_Type', 'Review_Title', 'Total_Rating', 'Review_Text', 'Reviewer_Name', 'Reviewer_Region', 'Value', 'Location', 'Service', 'Cleanliness', 'Sleep_Quality', 'Room', 'Hotel_City', 'Country']

In [21]:
df_final.isnull().sum()

Hotel_Name            9104
Average_Rating       16405
Stay_Date             9119
Trip_Type             9117
Review_Title          9204
Total_Rating          9117
Review_Text           9117
Reviewer_Name        12606
Reviewer_Region          0
Value              4867123
Location           5028570
Service            3195102
Cleanliness        4861973
Sleep_Quality      5543674
Room               5002295
Hotel_City               0
Country                  0
dtype: int64

In [22]:
df_final = df_final.fillna({'Value':0,'Service':0,'Sleep_Quality':0,'Room':0,'Location':0,'Cleanliness':0,'Reviewer_Region':0})

In [23]:
df_final.isnull().sum()

Hotel_Name          9104
Average_Rating     16405
Stay_Date           9119
Trip_Type           9117
Review_Title        9204
Total_Rating        9117
Review_Text         9117
Reviewer_Name      12606
Reviewer_Region        0
Value                  0
Location               0
Service                0
Cleanliness            0
Sleep_Quality          0
Room                   0
Hotel_City             0
Country                0
dtype: int64

In [24]:
df_final.dropna(inplace=True)

In [25]:
df_final.to_csv("Tripadvisor_final.csv",index=True)